*{
    margin: 0;
    padding: 0;
}

/* ------HEADER------ */

header{
    padding: 2em 7em;
    background-color: lightgreen;
}

.nav-bar{
    margin : 0 auto;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.nav-link{
    cursor: pointer;
}

.nav-link:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
.nav-link:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
.nav-link:hover {
    color: white;
    text-decoration: none;
  }
  
  /* selected link */
.nav-link:active {
    color: white;
    text-decoration: none;
  }

.nav-link:hover{
      color:white;
  }

.logo-img{
    height: 120px;

    margin: -2.5em;
}

/* ------INTRO------ */

.header-img{
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.name{
  text-align: center;
  font-family: 'miracle day';
}

span{
  color : red;
}

.description{
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 90%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 1em;
}