/* HEADER */

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pageHeader{
    display: flex;
    justify-content: flex-end;

}

.header-btn{
    margin:  0 0.5em;
}



/* INTRO */

.title{
    font-weight: bold;
    font-size: 2.5em;
}

.header-p{
    font-size: 1em;
}

.img-header{
    border-radius: 50%;
    align-items: center;
    align-self: center;
}

.intro{
    margin : 0 auto;
    margin-top: 5em;
    border: none;
    width : 80%;
    max-width : 1100px;
}

.Container{
    display: flex;
    justify-content: space-between;
    max-width : 1100px;
}

/* HOMEPAGE */

.site-card-border-less-wrapper {
    background-color:#EDF7FA;
    margin-top: 5em;
    
}

.Card{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

.Card-project{
    width: 30%;
}

.img-header{
    width:300px;
}


/* FOOTER */

.footer{
    flex-direction: column;
    text-align: center;
    margin-top: -4.5em;
}

.footer-icon{
    margin: 0 1em;
}

.social-media-btn{
    border: none;
}

/* HOMEBLOG */

.blog{
    display: flex;
}

.blog-description{
    padding: 0 10em 0 1em;
}

.blogpost{
    border-left: none;
    border-top: none;
    border-right: none;
}

h2{
    color:#21243D;
    font-weight: bold;
}

.blog-img{
    border-radius: 0.5em;
    width:300px
}


@media(max-width:1300px){

.blog-description{
    padding: 0 5em 0 1em;
}

}

@media(max-width:1200px){

.blog-description{
    padding: 0 1em 0 1em;
}

}
@media(max-width:1000px){

.blog-description{
    padding: 0 0 0 1em;
}

}

@media(max-width:900px){
    .Card{
        flex-direction: column;
        margin: 0 auto;
    }

    .Card-project{
        margin-bottom: 1em;
        width: 95%;
        text-align: center;
        margin: 1em auto;
    }

    .Container{
        flex-direction: column-reverse;
        text-align: center;
    }

    .img-header-div{
        display: flex;
        justify-content: center;
    }

    .div-header{
        display: flex;
        flex-direction: row;
    }

    .blog{
        flex-direction: column ;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

    .blog-description{
        padding: 0;
    }

    .title{
        font-weight: bold;
        font-size: 1.5em;
    }
}

@media(max-width:580px){
    .blog-img{
        width: 250px;
        margin-left: -1.5em;
    }

    .img-header{
        width:200px;
    }
}

