/* HEADER */

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pageHeader{
    display: flex;
    justify-content: flex-end;

}

Button{
    margin:  0 0.5em;
}



/* INTRO */

.title{
    font-weight: bold;
    font-size: 2.5em;
}

.header-p{
    font-size: 1em;
}

.img-header{
    border-radius: 50%;
    align-items: center;
    align-self: center;
}

.intro{
    margin : 0 auto;
    margin-top: 5em;
    border: none;
    width : 80%;
    max-width : 1100px;
}

.Container{
    display: flex;
    justify-content: space-between;
}

/* HOMEPAGE */

.site-card-border-less-wrapper {
    background-color:#EDF7FA;
    margin-top: 5em;
}

.Card{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}


/* FOOTER */

.footer{
    flex-direction: column;
    text-align: center;
    margin-top: -4.5em;
}

.footer-icon{
    margin: 0 1em;
}

.social-media-btn{
    border: none;
}
